<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
	<meta charset="UTF-8" />
	<title>FORMULARIO AGREGAR LUCES AUTOMATICAS</title>
	<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
	<style>
		.footer {
			background-color: #6A0E1A;
			;
			padding: 10px;
			text-align: center;
			height: 40px;
			display: flex;
			justify-content: center;
			text-align: center;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
		<a class="navbar-brand" href="/loginsuccess"> <img src="/images/logo.png" width="48" height="45" alt="">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/logout">Cerrar sesión</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:8080/evento/lista">Eventos</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/lucesautomaticas/save}" th:object="${disLucesAuto}" method="post">
					<div class="form-group row">
						<input type="hidden" th:field="*{idDispositivo}">
						<label class="col-md-2" for="sector">Nombre:</label>
						<select name="Nombre" th:field="*{nombre}" class="form-control form-control-sm" id="nombre">
							<option value="Luz Automatica Hernandez">Luz Automatica Hernandez</option>
							<option value="Luz Automatica Scalabrini">Luz Automatica Scalabrini</option>
							<option value="Luz Automatica Nestor">Luz Automatica Nestor Kirchner</option>
						</select> <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}"
							th:errors="*{sector}"></small>
					</div>

					<div class="form-group row">
						<label class="col-md-2" for="booleano">¿Funciona?</label>
						<div class="col-md-6">
							<div class="form-check">
								<input type="radio" th:field="*{enFuncionamiento}" class="form-check-input" id="si"
									value="true"> <label class="form-check-label" for="si">Sí</label>
							</div>
							<div class="form-check">
								<input type="radio" th:field="*{enFuncionamiento}" class="form-check-input" id="no"
									value="false"> <label class="form-check-label" for="no">No</label>
							</div>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('enFuncionamiento')}"
								th:errors="*{enFuncionamiento}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-2" for="booleano">Estado</label>
						<div class="col-md-6">
							<div class="form-check">
								<input type="radio" th:field="*{estado}" class="form-check-input" id="encendido"
									value="true">
								<label class="form-check-label" for="encendido">Encendido</label>
							</div>
							<div class="form-check">
								<input type="radio" th:field="*{estado}" class="form-check-input" id="apagado"
									value="false">
								<label class="form-check-label" for="apagado">Apagado</label>
							</div>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('estado')}"
								th:errors="*{estado}"></small>
						</div>
					</div>
					<p> Numero de Aula: <input type="number" th:field="*{nroAula}" /></p>

					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary btn-sm" value="Guardar" />
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:fragment="footer" class="footer text-center text-white fixed-bottom">
		<p>SmartCity - UNLa Copyright © 2023</p>
		<a class=a-footer href='http://www.unla.edu.ar'>Visitar UNLa</a>
	</footer>


</body>

</html>