<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Menú de Luces Automáticas</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
	<style>
		.btn-custom {
			background-color: #8B0000;
			border-color: #8B0000;
			color: #fff;
		}

		.footer {
			background-color: #6A0E1A;
			;
			padding: 10px;
			text-align: center;
			height: 40px;
			display: flex;
			justify-content: center;
			text-align: center;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
		<a class="navbar-brand" href="/loginsuccess"> <img src="/images/logo.png" width="48" height="45" alt="">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/logout">Cerrar sesión</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:8080/evento/lista">Eventos</a>
				</li>
			</ul>
		</div>
	</nav>

	<div class="container">

		<div class="d-grid gap-3 col-6 mx-auto mt-5">
			<a href="http://localhost:8080/lucesautomaticas/listaLucesAuto" class="btn btn-danger">Ver Lista de
				Dispositivos</a>
			<a href="http://localhost:8080/lucesautomaticas/agregarLuces" class="btn btn-danger">Agregar Nuevo
				Dispositivo</a>
		</div>
	</div>
	<footer th:fragment="footer" class="footer text-center text-white fixed-bottom">
		<p>SmartCity - UNLa Copyright © 2023</p>
		<a class=a-footer href='http://www.unla.edu.ar'>Visitar UNLa</a>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>