<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Baños</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
		<a class="navbar-brand" href="/index">
			<img src="/images/logo.png" width="48" height="45" alt="">
		</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dispositivosDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					Dispositivos
				</a>
				<ul class="dropdown-menu" aria-labelledby="dispositivosDropdown">
					<li><a class="dropdown-item" href="http://localhost:8080/espacioverde/listaverde">Dispositivos
							Espacio Verde</a></li>
					<li><a class="dropdown-item"
							href="http://localhost:8080/estacionamientos/listaDispositivos">Dispositivos
							Estacionamiento</a></li>
					<li><a class="dropdown-item" href="http://localhost:8080/banio/lista">Dispositivos Baño</a></li>
					<li><a class="dropdown-item"
							href="http://localhost:8080/lucesautomaticas/listaLucesAuto">Dispositivos Luces
							Automáticas</a></li>
				</ul>
			</li>
		</ul>

	</nav>

	<div class="container">
		<h1 class="text-center mt-4" th:text="${titulo}"></h1>

		<div th:if="${error}" class="alert alert-danger mt-4">
			<p th:text="${error}"></p>
		</div>
	</div>

	<div class="container">
		<form class="form-inline" th:action="@{/evento/lista}">
			<div class="form-group mb-2 ">
				<label>Filtrar :</label>
			</div>
			<div class="form-group mx-sm-3 mb-2 ">
				<input type="text" name="palabraClave" class="form-control" id="palabraClave" th:value="${palabraClave}"
					placeholder="Ingrese palabra a buscar" required>
			</div>
			<input type="submit" class="btn btn-info mb-2" value="Buscar">
			&nbsp;&nbsp;
			<input type="button" class="btn btn-secondary mb-2" value="Limpiar" onclick="limpiarCampos()">
		</form>

		<table class="table mt-4" style="background-color: #6A0E1A; color: white;">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID Evento</th>
					<th scope="col">Dispositivo</th>
					<th scope="col">ID Dispositivo</th>
					<th scope="col">Fecha y Hora</th>
					<th scope="col">Funcionamiento</th>
				</tr>
			</thead>

			<tbody>
				<tr class="table" th:each="li:${lista}" style="background-color: #FAD9DD; color: black;">
					<th scope="row" th:text="${li.id}"></th>
					<td scope="row" th:text="${li.dispositivo.nombre}"></td>
					<td scope="row" th:text="${li.dispositivo.idDispositivo}"></td>
					<td scope="row" th:text="${#temporals.format(li.fechaHora, 'dd/MM/yyyy HH:mm')}"></td>
					<td scope="row" th:text="${li.dispositivo.enFuncionamiento} ? 'FUNCIONA' : 'NO FUNCIONA'"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>