<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Error</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		body {
			background-color: #f4f4f4;
		}

		.container {
			margin-top: 100px;
		}

		.error-code {
			font-size: 72px;
			color: #e74c3c;
			margin-bottom: 20px;
		}

		.error-message {
			font-size: 36px;
			margin-bottom: 40px;
		}
	</style>
</head>

<body>
	<div class="container text-center">
		<h1 class="error-code">Error 500</h1>
		<p class="error-message">Error De Nuestros Servicios</p>
		<p>Error en el sistema.</p>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
