<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" \>
	<title>Smart UNLa - Estacionamientos</title>
	<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark" style="padding: 10px; background-color:black;">
		<a class="navbar-brand" href="/loginsuccess">
			<img src="/images/logo.png" width="48" height="45" alt="">
		</a>
		<div class="navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dispositivosDropdown" role="button"
						data-bs-toggle="dropdown" aria-expanded="false">
						Dispositivos
					</a>
					<ul class="dropdown-menu" aria-labelledby="dispositivosDropdown">
						<li><a class="dropdown-item" href="http://localhost:8080/espacioverde/listaverde">Dispositivos
								Espacio Verde</a></li>
						<li><a class="dropdown-item"
								href="http://localhost:8080/estacionamientos/listaDispositivos">Dispositivos
								Estacionamiento</a></li>
						<li><a class="dropdown-item" href="http://localhost:8080/banio/lista">Dispositivos Baño</a></li>
						<li><a class="dropdown-item"
								href="http://localhost:8080/lucesautomaticas/listaLucesAuto">Dispositivos Luces
								Automáticas</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:8080/evento/lista">Eventos</a>
				</li>
			</ul>
		</div>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Sesion
				</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
					<form th:action="@{/logout}" method="post" sec:authorize="authenticated">
						<input class="dropdown-item" type="submit" style="cursor: pointer" value="Cerrar sesión" />
					</form>
				</div>
			</li>
		</ul>
	</nav>

	<div class="container">
		<h1 class="text-center">Carga de nuevo dispositivo</h1>
	</div>

	<div class="container">
		<div class="card bg-light">
			<div class="card-body">
				<form action="#" th:action="@{guardar}" th:object="${estacionamiento}" method="post">
					
					<div class="form-group row">
						<label class="col-md-2" for="nombre">Nombre</label>
						<div class="col-md-6">
							<select name="ocupado" th:field="*{nombre}" class="form-control form-control-sm"
								id="nombre">
								<option value="DisEstacionamiento">DisEstacionamiento</option>
							</select>
						</div>

					</div>
					
					<div class="form-group row">

						<label class="col-md-2" for="booleano">En funcionamiento</label>
						<div class="col-md-6">
							<div class="form-check">
								<input type="radio" th:field="*{enFuncionamiento}" class="form-check-input" id="si"
									value="true"> <label class="form-check-label" for="si">Sí</label>
							</div>
							<div class="form-check">
								<input type="radio" th:field="*{enFuncionamiento}" class="form-check-input" id="no"
									value="false"> <label class="form-check-label" for="no">No</label>
							</div>
							<small class="form-text text-danger" th:if="${#fields.hasErrors('enFuncionamiento')}"
								th:errors="*{enFuncionamiento}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-2" for="ocupado">Plaza ocupada:</label>
						<div class="col-md-6">
							<select name="ocupado" th:field="*{ocupado}" class="form-control form-control-sm"
								id="ocupado">
								<option value="false">No</option>
							</select>
						</div>

					</div>

					<div class="form-group row">
						<label class="col-md-2" for="sector">Sector</label>
						<div class="col-md-6">
							<select name="sector" th:field="*{sector}" class="form-control form-control-sm" id="sector">
								<option value="Buffet">Buffet</option>
								<option value="29 de Septiembre">29 de Septiembre</option>
								<option value="Pablo Nogues">Pablo Nogues</option>
								<option value="José Malba">José Malba</option>
							</select>
						</div>

					</div>


					<div class="form-group row">
						<label class="col-md-2" for="tipoEstacionamiento">Tipo de estacionameinto:</label>
						<div class="col-md-6">
							<select name="sector" th:field="*{tipoEstacionamiento}" class="form-control form-control-sm"
								id="tipoEstacionamiento">
								<option value="1">Normal</option>
								<option value="2">Para discapacitados</option>
							</select>
						</div>

					</div>


					<div class="card-footer bg-dark">
						<input type="submit" class="btn btn-primary btn-sm" value="Guardar" />
					</div>
				</form>
			</div>
		</div>
	</div>


	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>