<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"\>
		<title>Agregar dispositivo estacionamiento</title>
	</head>
	<body>
		<h1>Nuevo dispositivo agregado exitosamente :D</h1>
		
		<p>
			Id: <span text="${nuevoDispositivo.id}"/>
		</p>
		
		<p>
			Nombre: <span text="${nuevoDispositivo.nombre}"/>
		</p>
		
		<p>
			Descripcion: <span text="${nuevoDispositivo.descripcion}"/>
		</p>
		
		<p>
			En funcionamiento: <span text="${nuevoDispositivo.enFuncionamiento}"/>
		</p>
		
		
		
	</body>
</html>

<!-- 
	
			
		<p>
			Sector: <span th:text="${nuevoDispositivo.id}"/>
		</p>
		
		<p>
			Tipo estacionamiento: <span th:text="${nuevoDispositivo.id}"/>
		</p>
		
		<p>
			Ocupado: <span th:text="${nuevoDispositivo.id}"/>
		</p>
			

-->