<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" \>
	<title>Smart UNLa - Estacionamientos</title>
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Activado</th>
				<th>Sector</th>
				<th>Ocupado</th>
				<th>Tipo de plaza</th>
				<th>ABM</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="estacionamiento : ${estacionamientos}">
				<td><span th:text="${estacionamiento.idDispositivo}" /></td>
				<td><span th:text="${estacionamiento.enFuncionamiento}" /></td>
				<td><span th:text="${estacionamiento.sector}" /></td>
				<td><span th:text="${estacionamiento.ocupado}" /></td>
				<td><span th:text="${estacionamiento.tipoEstacionamiento}" /></td>
				<td>
					<a th:href="@{/estacionamientos/editar/{idDispositivo}(idDispositivo=${estacionamiento.idDispositivo})}">Modificar</a>
					<a th:href="@{/estacionamientos/baja/{idDispositivo}(idDispositivo=${estacionamiento.idDispositivo})}">Baja</a>
					<a th:href="@{/estacionamientos/alta/{idDispositivo}(idDispositivo=${estacionamiento.idDispositivo})}">Alta</a>
				</td>
				
			</tr>
		</tbody>
	</table>
</body>

</html>