<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" \>
	<title>Smart UNLa - Estacionamientos</title>
	<link rel="stylesheet"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
		<a class="navbar-brand" href="/loginsuccess">
			<img src="/images/logo.png" width="75" height="75" alt="">
		</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dispositivosDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					Dispositivos
				</a>
				<ul class="dropdown-menu" aria-labelledby="dispositivosDropdown">
					<li><a class="dropdown-item" href="http://localhost:8080/espacioverde/listaverde">Dispositivos
							Espacio Verde</a></li>
					<li><a class="dropdown-item"
							href="http://localhost:8080/estacionamientos/listaDispositivos">Dispositivos
							Estacionamiento</a></li>
					<li><a class="dropdown-item" href="http://localhost:8080/banio/lista">Dispositivos Baño</a></li>
					<li><a class="dropdown-item"
							href="http://localhost:8080/lucesautomaticas/listaLucesAuto">Dispositivos Luces
							Automáticas</a></li>

				</ul>
			<li class="nav-item dropdown"><a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
					data-toggle="dropdown" href="#" id="navbarDropdownBlog">Sesion</a>
				<div aria-labelledby="navbarDropdownBlog" class="dropdown-menu dropdown-menu-right">
					<form sec:authorize="authenticated" th:action="@{/logout}" method="post">
						<input class="dropdown-item" style="cursor: pointer" type="submit" value="Cerrar sesión" />
					</form>

				</div>
			</li>
			<li class="nav-item"><a class="nav-link" href="http://localhost:8080/evento/lista">Eventos</a>
			</li>
			</li>
		</ul>

	</nav>
	<div class="container">
		<h1 class="text-center" th:text="${titulo}"></h1>


		<div th:if="${error}" class="alert alert-danger">
			<p th:text="${error}"></p>
		</div>

	</div>

	<div class="container">

		<a class="btn btn-primary btn-sm" th:href="@{/estacionamientos/agregar}" th:text="'Agregar dispositivo'" title="Agregar dispositivo"></a>
		<a class="btn btn-primary btn-sm" th:href="@{/estacionamientos/}" th:text="'Regresar a menu principal'" title="Regresar a menu principal"></a>
		<table class="table" style="background-color: #6A0E1A; color: white;">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Activado</th>
					<th scope="col">Sector</th>
					<th scope="col">Ocupado</th>
					<th scope="col">Tipo de plaza</th>
					<th scope="col">Modificación</th>
					<th scope="col">Alta</th>
					<th scope="col">Baja</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table" th:each="estacionamiento : ${estacionamientos}" style="background-color: #c7c8ca; color: black;">
					<th><span th:text="${estacionamiento.idDispositivo}" /></th>
					<th><span th:text="${estacionamiento.enFuncionamiento} ? 'En funcionamiento' : 'Desactivado'" /></th>
					<th><span th:text="${estacionamiento.sector}" /></th>
					<th><span th:text="${estacionamiento.ocupado} ? 'Ocupado' : 'Disponible'" /></th>
					<th><span th:text="${estacionamiento.tipoEstacionamiento}" /></th>
					<td><a class="btn btn-dark btn-sm" th:href="@{/estacionamientos/editar/}+${estacionamiento.idDispositivo}">Modificar</a></td>
					<td><a class="btn btn-success btn-sm" th:href="@{/estacionamientos/alta/{idDispositivo}(idDispositivo=${estacionamiento.idDispositivo})}">Dar de alta</a></td>
					<td><a class="btn btn-danger btn-sm" th:href="@{/estacionamientos/baja/{idDispositivo}(idDispositivo=${estacionamiento.idDispositivo})}">Dar de baja</a></td>

				</tr>
			</tbody>
		</table>
	</div>

	
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>