<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" \>
	<title>sensor espacio verde</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px;">
		<a class="navbar-brand" href="/loginsuccess"> <img src="/images/logo.png" width="48" height="45" alt="">
		</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/logout">Cerrar sesión</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:8080/evento/lista">Eventos</a>
				</li>
			</ul>
		</div>
	</nav>
	<h1>Cargar sensor espacio verde</h1>
	
	<form th:action="@{/listaverde}" th:object="${espacioverde}" method="post">
		<p>Sector: <input type="text" name="sector" th:field="*{sector}" placeholder="Digite su sector"></p>
		<p>Humedad: <input type="float" name="humedad" th:field="*{humedad}" placeholder="Digite su humedad"></p>
		<input type="submit">
	</form>
	
</body>

</html>


























<!--
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"\>
		<title>Agregar dispositivo espacio verde</title>
	</head>
	<body>
		<h1>Carga de nuevo espacio verde</h1>
		
		<h2>Ingrese los datos para el formulario</h2>
		
		<form action="#" th:action="@{dispositivoAgregado}" th:object="${nuevoDispositivo}" method="post">
			
			<p> nombre: <input type="text" field="*{nombre}"/></p>
			<p> descripcion: <input type="text" field="*{descripcion}"/></p>
			<p> sector: <input type="text" field="*{sector}"/></p>
			
			<select name="sector" th:field="*{sector}">
				<option value="Plaza Malvinas">Plaza Malvinas</option>
				<option value="Plaza abuelas">Plaza abuelas</option>
			</select>
		</p>
			
			<input type="submit" /> 
		</form>

	</body>
</html>
 
 -->
 
<!-- 
		
			<p> nombre: <input type="text" th:field="*{nombre}"/></p>
		
			<p> id: <input type="number" th:field="*{id}"/></p>
			<p> nombre: <input type="text" th:field="*{nombre}"/></p>
			<p> descripcion: <input type="text" th:field="*{descripcion}"/></p>
			<p> en funcionamiento: <input type="checkbox" th:field="*{enFuncionamiento}"/></p>
			<p> ocupado: <input type="checkbox" th:field="*{ocupado}"/></p>
			<p> sector: <input type="text" th:field="*{sector}"/></p>
			<p th:if="${#fields.hasErrors('sector')}" th:errors="*{sector}"/>
			<p> tipoEstacionameinto: <input type="number" th:field="*{tipoEstacionamiento}"/></p>
			<p th:if="${#fields.hasErrors('tipoEstacionamiento')}" th:errors="*{tipoEstacionamiento}"/>
			
			

-->