<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" \>
	<title>carga de dispositivo</title>
</head>

<body>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>En funcionamiento</th>
				<th>Sector</th>
				<th>Ocupado</th>
				<th>Tipo de plaza</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="espacioverde : ${espaciosverdes}">
				<td><span th:text="${espacioverde.id}" /></td>
				<td><span th:text="${espacioverde.enFuncionamiento}" /></td>
				<td><span th:text="${espacioverde.sector}" /></td>
			</tr>
		</tbody>
	</table>
	<form action="#" th:action="@{espaciosverdes}" th:object="${espacioverde}" method="post">
		<!-- <p> nombre: <input type="text" th:field="*{nombre}" /></p> --> <!-- -->
	<!-- 	<p> descripcion: <input type="text" th:field="*{descripcion}" /></p>
		<p> en funcionamiento: <input type="checkbox" th:field="*{enFuncionamiento}" /></p>
		<p> ocupado: <input type="checkbox" th:field="*{ocupado}" /></p> -->
		
		<p> humedad: <input type="float" th:field="*{humedad}" /></p>
		<p> baja humedad: <input type="boolean" th:field="*{bajaHumedad}" /></p>
		
		<p> sector:
			<select name="sector" th:field="*{sector}">
				<option value="plaza1">plaza1</option>
				<option value="plaza2">plaza2</option>
			</select>
		</p>
		<input type="submit" />
	</form>
</body>

</html>