<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" \>
	<title>sensores espacio verde</title>
</head>

<body>
	<h1>modificar sensor de espacio verde</h1>
	
	<form th:action="@{/listaverde/{id}(id=${espacioverde.id})}" th:object="${espacioverde}" method="post">
		<p>Humedad: <input type="float" name="humedad" th:field="*{humedad}" placeholder="Digite su humedad"></p>
		<p>Sector: <input type="text" name="sector" th:field="*{sector}" placeholder="Digite su sector"></p>
		<input type="submit">
	</form>
	
</body>

</html>