<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
	<meta charset="UTF-8" />
	<title>Espacio verdes</title>
	<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>

<body>

	<div class="container">
		<h1 th:text="${titulo}"></h1>


	</div>

	<div class="container">

		<table class="table" style="background-color: #6A0E1A; color: white;">
			<thead>
				<tr>
					<th scope="col">Nivel de Humedad</th>
					<th scope="col">Baja Humedad</th>
					<th scope="col">Detalle</th>
				</tr>
			</thead>
			<tbody>
				<tr class="table" th:object="${espacioverde}" style="background-color: #FAD9DD; color: black;">
					<td scope="row" th:text="${espacioverde.humedad}"></td>
					<td scope="row" th:text="${espacioverde.bajaHumedad} ? 'SI' : 'NO'"></td>
					<td scope="row" th:text="${espacioverde.bajaHumedad}  ? 'esta regandose' : 'no esta regandose'">


					</td>


				</tr>
			</tbody>
		</table>



	</div>
	
	<img th:if="${espacioverde.bajaHumedad}" src="/images/riego.jpg" alt="Imagen 1"
		style="width: 200px; display: block; margin: 0 auto;">
	<img th:unless="${espacioverde.bajaHumedad}" src="/images/pasto.jpg" alt="Imagen 2"
		style="width: 200px; display: block; margin: 0 auto;">
	
</body>

</html>